/openai_apikey.zsh
envACCRath/
accra_code/constructor_project/constructor_github_project/constructor_github_project_profiles_analysers_additional/constructor_platform_analyzer/.env
accra_code/__pycache__/
accra_code/constructor_project/__pycache__/
accra_code/constructor_project/constructor_github_project/__pycache__/
__pycache__
full_diagram.puml
.env
docker_compose.env
.idea
.idea/*
ImportedProjects/*
.accra_project_environment_variables
reports
setupEnvironment.zsh
ACCRa/accra_code/constructor_project/constructor_github_project/constructor_github_project_analysers_additional/__pycache__/
.venv/
venv/
constructor_adapter/
accra_test/result_test.csv
.ipynb_checkpoints
